body{
    margin: 0;
    background-color: rgb(39, 38, 44);
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 25px;
    height: 6rem;
}

main{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 4rem;
}

textarea{
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

::selection{
    background-color: rgb(55, 99, 81);
}

#header{
    height: 8rem;
    align-content: center;
    padding-left: 4rem;

    background-image: url("https://images.pexels.com/photos/132657/pexels-photo-132657.jpeg?_gl=1*co11y9*_ga*ODQyMzU3NjgxLjE3NTk5NDkxOTA.*_ga_8JE65Q40S6*czE3NTk5NDkxODkkbzEkZzEkdDE3NTk5NDkyMjAkajI5JGwwJGgw");
    background-size: cover;
    background-repeat: no-repeat;
}

#header>h1>a{
    color: rgb(126, 182, 160);
    text-shadow: 5px 5px rgb(23, 51, 37);
    text-align: left;
    font-size: 3rem;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition-duration: 200ms;
}

#header>h1>a:hover{
    color: rgb(126, 182, 160);
    filter: drop-shadow(0px 0px 10px rgb(177, 230, 207));
    font-size: 3.1rem;
    transition-duration: 200ms;
}

#about-us{
    padding-top: 2rem;
    line-height: 3rem;
}

#form-get-in-touch{
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-get-in-touch>*{
    flex-grow: 1;
}


.nav-button{
    background-color: rgb(29, 28, 34);
    text-align: center;
    align-content: center;

    flex-grow: 1;

    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

.nav-button:hover{
    color: black;
    background-color: rgb(104, 145, 124);
    flex-grow: 1.1;

    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

